# ReflectShield Access Transformers
# Make AbstractArrow.inGround public so we can clear it on reflect
public net.minecraft.world.entity.projectile.AbstractArrow f_36703_ # inGround
# Make AbstractHurtingProjectile xPower/yPower/zPower public to clear fireball tracking
public net.minecraft.world.entity.projectile.AbstractHurtingProjectile f_36813_ # xPower
public net.minecraft.world.entity.projectile.AbstractHurtingProjectile f_36814_ # yPower
public net.minecraft.world.entity.projectile.AbstractHurtingProjectile f_36815_ # zPower
